/*
    Interface Page styling.
*/

/* Medium devices (landscape tablets, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .interface {
        width: fit-content;
    }

    .interface-content {
        flex-direction: column;
    }
}

.interface {
    margin: 0 auto;
}

.interface-content {
    display: flex;
    justify-content: space-evenly;
}

.generate-btn {
    background-color: green;
    color: white;
}

.generate-btn:disabled {
    background-color: dimgrey;
    opacity: 1;
}

.interface {
    padding: 10px;
}

.interface-outputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 600px;
}

fieldset {
    margin: 0;
}

.input-fieldset {
    width: 600px;
    max-height: 600px;
    overflow-y: auto;
}

.canvas-reset-btn, .generate-btn {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    color: white;
}

.sampling-option, .controller-option {
    padding: 10px 0;
}

.option-full-width {
    display: block;
    width: 100%;
}

.output-controls input[type="button"] {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    margin: 10px;
}

/*
    Body Pose Tab
*/
.canvas-reset-btn {
    background-color: red;
}

.body-pose-canvas {
    cursor:crosshair;
    outline: solid 1px;
    border-radius: 5px;
}

#canvas-fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Image Grid Selector
*/
#anime-portraits-fieldset {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.controller-option [type=radio], .controller-option img {
    cursor: pointer;
}

.controller-option {
    display: flex;
}

