{% extends "base.html" %}

{% from "interface/interface_macro.html" import input_checkbox with context %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/interface.css') }}">
{% endblock %}

{% block content %}

<div class="interface">
    <!-- Tab links -->
    <nav class="tab">
        <button class="tab-links" onclick="openTab(event, 'my-body')" id="default-open">Body Pose</button>
        <button class="tab-links" onclick="openTab(event, 'my-face')">Face</button>
        <button class="tab-links" onclick="openTab(event, 'celeb-face')">Celeb-Face</button>
        <button class="tab-links" onclick="openTab(event, 'anime-portraits')">Anime Portraits</button>
    </nav>

    <!--Body Poses Tab -->
    <div id="my-body" class="tab-content">
        <div class="interface-content">
            <div class="interface-inputs">
                <div class="interface-body">
                    <form action="{{ url_for('interface.generate_body_poses') }}" method="POST" class="interface-form" id="body-pose-form">
                        <!-- Canvas -->
                        <fieldset id="canvas-fieldset" class="input-fieldset">
                            <legend>Canvas</legend>
                            <!-- Paint Canvas -->
                            <canvas id="body-pose-canvas-editor" class="body-pose-canvas" width="512" height="512">
                                Your browser does not support the HTML5 canvas tag.
                            </canvas>
                        </fieldset>

                        <fieldset class="controls-fieldset">
                            <legend>Controls</legend>
                            <!-- Model Input Controls-->
                            <input id="body-pose-canvas-reset" class="canvas-reset-btn" type="button" value="Reset">
                            <input
                                class="generate-btn"
                                type="submit"
                                value="Generate">
                        </fieldset>

                        <fieldset class="sampling-fieldset">
                            <!-- Diffusion Sampling Algorithms -->
                            <legend>Sampling Parameters</legend>
                            <div class="sampling-option">
                                <input
                                    id="use-specific-seed-body-pose"
                                    type="checkbox"
                                    name="use-specific-seed-body-pose"
                                    value="use-specific-seed-body-pose"
                                    onclick="toggle_seed_enable('body-pose');">
                                <label for="use-specific-seed-body-pose"> Use Specific seed</label>
                            </div>

                            <div class="sampling-option">
                                <label for="seed-val-body-pose" class="option-full-width">Seed:</label>
                                <input
                                    class="option-full-width"
                                    id="seed-val-body-pose"
                                    type="number"
                                    min="0"
                                    step="1"
                                    pattern="[0-9]{1,5}"
                                    lang="en-150"
                                    placeholder="Seed value e.g 69"
                                    disabled
                                    required>
                            </div>
                            <hr>
                            <div class="sampling-option">
                                <label for="sampling-alg-body-pose" class="option-full-width">Sampling Algorithm:</label>
                                <select name="sampling-alg-body-pose" class="option-full-width" id="sampling-alg-body-pose" onchange="toggle_base_skip_steps('body-pose')">
                                    <option value="ddim">DDIM</option>
                                    <option value="ddpm">DDPM</option>
                                </select>
                            </div>
                            <div class="sampling-option">
                                <label for="base-skip-steps-body-pose" class="option-full-width">Steps to skip(Base): <output id="baseskipstepbodypose">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="base-skip-steps-body-pose"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="baseskipstepbodypose.value=this.value">
                            </div>
                            <hr>
                            <div class="sampling-option">
                                <input
                                    id="upsample-body-pose"
                                    type="checkbox"
                                    name="upsample-body-pose"
                                    value="upsample-body-pose"
                                    onclick="toggle_sr_skip_steps('body-pose')">
                                <label for="upsample-body-pose"> Upsample Image (Max Res: 256px)</label>
                            </div>
                            <div class="sampling-option">
                                <label for="sr-skip-steps-body-pose" class="option-full-width">Steps to skip(Super Resolution): <output id="srskipstepoutbodypose">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="sr-skip-steps-body-pose"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="srskipstepoutbodypose.value=this.value"
                                    disabled>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        
            <div class="interface-outputs">
                <div class="interface-body">
                    <img id="generated-img-body-pose" src="{{ url_for('static', filename='media/placeholder/placeholder_512x512.png') }}", alt="Generated/Placeholder Image"/>
                </div>
                <div class="output-controls">
                    <input type="button" value="Save" onclick="save_generated_image('body-pose')">
                    <input type="button" value="Clear" onclick="clear_generated_image('body-pose')">
                </div>
            </div>
        </div>
    </div>

    <!-- MyFace Tab -->
    <div id="my-face" class="tab-content">
        <div class="interface-content">
            <div class="interface-inputs">
                <div class="interface-body">
                    <form action="{{ url_for('interface.generate_myface') }}" method="POST" class="interface-form" id="my-face-form">
                        <fieldset class="input-fieldset">
                            <legend>Face Controllers</legend>
                            {{ input_checkbox("left-eye-open-face", "Left Eye Open") }}
                            {{ input_checkbox("right-eye-open-face", "Right Eye Open") }}
                            {{ input_checkbox("mouth-slightly-open-face", "Mouth Slightly Open") }}
                            {{ input_checkbox("show-teeth-face", "Show Teeth") }}
                        </fieldset>

                        <fieldset class="controls-fieldset">
                            <legend>Controls</legend>
                            <!-- Model Input Controls-->
                            <input
                                class="generate-btn"
                                type="submit"
                                value="Generate">
                        </fieldset>

                        <fieldset>
                            <!-- Diffusion Sampling Algorithms -->
                            <legend>Sampling Parameters</legend>
                            
                            <div class="sampling-option">
                                <input
                                    id="use-specific-seed-face"
                                    type="checkbox"
                                    name="use-specific-seed-face"
                                    value="use-specific-seed-face"
                                    onclick="toggle_seed_enable('face');">
                                <label for="use-specific-seed-face"> Use Specific seed</label>
                            </div>

                            <div class="sampling-option">
                                <label for="seed-val" class="option-full-width">Seed:</label>
                                <input
                                    class="option-full-width"
                                    id="seed-val-face"
                                    type="number"
                                    min="0"
                                    step="1"
                                    pattern="[0-9]{1,5}"
                                    lang="en-150"
                                    placeholder="Seed value e.g 69"
                                    disabled
                                    required>
                            </div>
                            <hr>

                            <div class="sampling-option">
                                <label for="sampling-alg-face" class="option-full-width">Sampling Algorithm:</label>
                                <select name="sampling-alg-face" class="option-full-width" id="sampling-alg-face" onchange="toggle_base_skip_steps('face')">
                                    <option value="ddim">DDIM</option>
                                    <option value="ddpm">DDPM</option>
                                </select>
                            </div>

                            <div class="sampling-option">
                                <label for="base-skip-steps-face" class="option-full-width">Steps to skip(Base): <output id="baseskipstepoutface">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="base-skip-steps-face"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="baseskipstepoutface.value=this.value">
                            </div>
                            <hr>
                            <div class="sampling-option">
                                <input
                                    id="upsample-face"
                                    type="checkbox"
                                    name="upsample-face"
                                    value="upsample-face"
                                    onclick="toggle_sr_skip_steps('face')">
                                <label for="upsample-face"> Upsample Image (Max Res: 256px)</label>
                            </div>

                            <div class="sampling-option">
                                <label for="sr-skip-steps-face" class="option-full-width">Steps to skip(Super Resolution): <output id="srskipstepoutface">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="sr-skip-steps-face"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="srskipstepoutface.value=this.value"
                                    disabled>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="interface-outputs">
                <div class="interface-body">
                    <img id="generated-img-face" src="{{ url_for('static', filename='media/placeholder/placeholder_512x512.png') }}", alt="Generated/Placeholder Image"/>
                </div>
                <div class="output-controls">
                    <input id="save-btn" type="button" value="Save" onclick="save_generated_image('face')">
                    <input id="clear-btn" type="button" value="Clear" onclick="clear_generated_image('face')">
                </div>
            </div>
        </div>
    </div>

    <!-- Celebrity Face Tab -->
    <div id="celeb-face" class="tab-content">
        <div class="interface-content">
            <div class="interface-inputs">
                <div class="interface-body">
                    <form action="{{ url_for('interface.generate_celeb_faces') }}" method="POST" class="interface-form" id="celeb-face-form">
                        <fieldset class="input-fieldset">
                            <legend>Celeb Face Controllers</legend>
                            
                            <!-- Bald -->
                            {{ input_checkbox("bald-celeb-face", "Bald") }}
                            
                            <!-- Black Hair -->
                            {{ input_checkbox("black-hair-celeb-face", "Black Hair") }}

                            <!-- Blond Hair -->
                            {{ input_checkbox("blond-hair-celeb-face", "Blond Hair") }}

                            <!-- Brown Hair -->
                            {{ input_checkbox("brown-hair-celeb-face", "Brown Hair") }}
                            
                            <!-- Bushy Eyebrow -->
                            {{ input_checkbox("bushy-eyebrow-celeb-face", "Bushy Eyebrow") }}
                            
                            <!-- Eyeglasses -->
                            {{ input_checkbox("eyeglasses-celeb-face", "Eyeglasses") }}
                            
                            <!-- Goatee -->
                            {{ input_checkbox("goatee-celeb-face", "Goatee") }}
                            
                            <!-- Gray Hair -->
                            {{ input_checkbox("gray-hair-celeb-face", "Gray Hair") }}
                            
                            <!-- Male -->
                            {{ input_checkbox("male-celeb-face", "Male") }}
                            
                            <!-- Mouth_Slightly_Open -->
                            {{ input_checkbox("mouth-open-celeb-face", "Mouth Slightly Open") }}
                            
                            <!-- Mustache -->
                            {{ input_checkbox("mustache-celeb-face", "Mustache") }}

                            <!-- No_Beard -->
                            {{ input_checkbox("no-beard-celeb-face", "No Beard") }}

                            <!-- Sideburns -->
                            {{ input_checkbox("sideburns-celeb-face", "Sideburns") }}

                            <!-- Smiling -->
                            {{ input_checkbox("smiling-celeb-face", "Smiling") }}

                            <!-- Straight_Hair -->
                            {{ input_checkbox("straight-hair-celeb-face", "Straight Hair") }}
                            
                            <!-- Wavy_Hair -->
                            {{ input_checkbox("wavy-hair-celeb-face", "Wavy Hair") }}
                            
                            <!-- Wearing_Earrings -->
                            {{ input_checkbox("wearing-earrings-celeb-face", "Wearing Earrings") }}

                            <!-- Wearing_Hat -->
                            {{ input_checkbox("wearing-hat-celeb-face", "Wearing Hat") }}

                            <!-- Wearing_Lipstick -->
                            {{ input_checkbox("wearing-lipstick-celeb-face", "Wearing Lipstick") }}
                            
                            <!-- Wearing_Necklace -->
                            {{ input_checkbox("wearing-necklace-celeb-face", "Wearing Necklace") }}

                            <!-- Wearing_Necktie -->
                            {{ input_checkbox("wearing-necktie-celeb-face", "Wearing Necktie") }}
                        </fieldset>
                        
                        <fieldset class="controls-fieldset">
                            <legend>Controls</legend>
                            <!-- Model Input Controls-->
                            <input
                                class="generate-btn"
                                type="submit"
                                value="Generate">
                        </fieldset>

                        <fieldset>
                            <!-- Diffusion Sampling Algorithms -->
                            <legend>Sampling Parameters</legend>
                            
                            <div class="sampling-option">
                                <input
                                    id="use-specific-seed-celeb-face"
                                    type="checkbox"
                                    name="use-specific-seed-celeb-face"
                                    value="use-specific-seed-celeb-face"
                                    onclick="toggle_seed_enable('celeb-face');">
                                <label for="use-specific-seed-celeb-face"> Use Specific seed</label>
                            </div>

                            <div class="sampling-option">
                                <label for="seed-val" class="option-full-width">Seed:</label>
                                <input
                                    class="option-full-width"
                                    id="seed-val-celeb-face"
                                    type="number"
                                    min="0"
                                    step="1"
                                    pattern="[0-9]{1,5}"
                                    lang="en-150"
                                    placeholder="Seed value e.g 69"
                                    disabled
                                    required>
                            </div>
                            <hr>

                            <div class="sampling-option">
                                <label for="sampling-alg-celeb-face" class="option-full-width">Sampling Algorithm:</label>
                                <select name="sampling-alg-celeb-face" class="option-full-width" id="sampling-alg-celeb-face" onchange="toggle_base_skip_steps('celeb-face')">
                                    <option value="ddim">DDIM</option>
                                    <option value="ddpm">DDPM</option>
                                </select>
                            </div>

                            <div class="sampling-option">
                                <label for="base-skip-steps-celeb-face" class="option-full-width">Steps to skip(Base): <output id="baseskipstepoutface">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="base-skip-steps-celeb-face"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="baseskipstepoutface.value=this.value">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="interface-outputs">
                <div class="interface-body">
                    <img id="generated-img-celeb-face" src="{{ url_for('static', filename='media/placeholder/placeholder_512x512.png') }}", alt="Generated/Placeholder Image"/>
                </div>
                <div class="output-controls">
                    <input id="save-btn" type="button" value="Save" onclick="save_generated_image('celeb-face')">
                    <input id="clear-btn" type="button" value="Clear" onclick="clear_generated_image('celeb-face')">
                </div>
            </div>
        </div>
    </div>

    <!-- Anime Portraits Tab -->
    <div id="anime-portraits" class="tab-content">
        <div class="interface-content">
            <div class="interface-inputs">
                <div class="interface-body">
                    <form action="{{ url_for('interface.generate_anime_portraits') }}" method="POST" class="interface-form" id="anime-portraits-form">
                        <fieldset id="anime-portraits-fieldset" class="input-fieldset">
                            <legend>Anime Portraits Controllers</legend>
                            {% for i in range(75) %}
                            <div class="controller-option">
                                <label>
                                    <input type="radio" name="portraits-centroid" value="{{i}}" required>
                                    <img 
                                        id="anime-portraits-centroid-{{i}}" 
                                        src="{{ url_for('static', filename='media/anime_portraits_centroids/'+ i|string + '.jpg') }}",
                                        alt="Anime Portraits_{{i}}"/>
                                </label>
                            </div>
                            {% endfor %}
                        </fieldset>
                        
                        <fieldset class="controls-fieldset">
                            <legend>Controls</legend>
                            <!-- Model Input Controls-->
                            <input
                                class="generate-btn"
                                type="submit"
                                value="Generate">
                        </fieldset>

                        <fieldset>
                            <!-- Diffusion Sampling Algorithms -->
                            <legend>Sampling Parameters</legend>
                            
                            <div class="sampling-option">
                                <input
                                    id="use-specific-seed-anime-portraits"
                                    type="checkbox"
                                    name="use-specific-seed-anime-portraits"
                                    value="use-specific-seed-anime-portraits"
                                    onclick="toggle_seed_enable('anime-portraits');">
                                <label for="use-specific-seed-anime-portraits"> Use Specific seed</label>
                            </div>

                            <div class="sampling-option">
                                <label for="seed-val-anime-portraits" class="option-full-width">Seed:</label>
                                <input
                                    class="option-full-width"
                                    id="seed-val-anime-portraits"
                                    type="number"
                                    min="0"
                                    step="1"
                                    pattern="[0-9]{1,5}"
                                    lang="en-150"
                                    placeholder="Seed value e.g 69"
                                    disabled
                                    required>
                            </div>
                            <hr>
                            <div class="sampling-option">
                                <label for="sampling-alg-anime-portraits" class="option-full-width">Sampling Algorithm:</label>
                                <select name="sampling-alg-anime-portraits" class="option-full-width" id="sampling-alg-anime-portraits" onchange="toggle_base_skip_steps('anime-portraits')">
                                    <option value="ddim">DDIM</option>
                                    <option value="ddpm">DDPM</option>
                                </select>
                            </div>

                            <div class="sampling-option">
                                <label for="base-skip-steps-anime-portraits" class="option-full-width">Steps to skip(Base): <output id="baseskipstepanime">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="base-skip-steps-anime-portraits"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="baseskipstepanime.value=this.value">
                            </div>
                            <hr>

                            <div class="sampling-option">
                                <input
                                    id="upsample-anime-portraits"
                                    type="checkbox"
                                    name="upsample-anime-portraits"
                                    value="upsample-anime-portraits"
                                    onclick="toggle_sr_skip_steps('anime-portraits')">
                                <label for="upsample-anime-portraits"> Upsample Image (Max Res: 256px)</label>
                            </div>
                            <div class="sampling-option">
                                <label for="sr-skip-steps-anime-portraits" class="option-full-width">Steps to skip(Super Resolution): <output id="srskipstepoutanimeportraits">100</output></label>
                                <input
                                    class="option-full-width"
                                    id="sr-skip-steps-anime-portraits"
                                    type="range"
                                    min="1"
                                    max="1000"
                                    value="100"
                                    class="slider"
                                    oninput="srskipstepoutanimeportraits.value=this.value"
                                    disabled>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="interface-outputs">
                <div class="interface-body">
                    <img id="generated-img-anime-portraits" src="{{ url_for('static', filename='media/placeholder/placeholder_512x512.png') }}", alt="Generated/Placeholder Image"/>
                </div>
                <div class="output-controls">
                    <input id="save-btn" type="button" value="Save" onclick="save_generated_image('anime-portraits')">
                    <input id="clear-btn" type="button" value="Clear" onclick="clear_generated_image('anime-portraits')">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script defer type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}"></script>

<script>
    /* Clears generated Body Pose Images */
    function clear_generated_image(tab_name) {
        const img_elem = document.getElementById("generated-img-" + tab_name);
        const placeholder_img_url = "{{ url_for('static', filename='media/placeholder/placeholder_512x512.png') }}";
        img_elem.src = placeholder_img_url;
    }

    /* Save generated  Images */
    function save_generated_image(tab_name) {
        const img_elem = document.getElementById("generated-img-" + tab_name);
        var img_src = img_elem.src;

        var a  = document.createElement('a');
        a.href = img_src;
        a.download = "image.png";
        a.click()
    }

    /* Shows generated Body Pose Image */
    function show_generated_image(img_b64, tab_name) {
        const b64_image = "data:image/png;base64," + img_b64;
        const img_elem = document.getElementById("generated-img-" + tab_name);
        img_elem.src = b64_image;
    }

    /* Toggle Manual seed */
    function toggle_seed_enable(tab_name) {
        const seed_elem = document.getElementById("seed-val-" + tab_name);
        const is_seed_enabled = seed_elem.disabled;
        if(is_seed_enabled) {
            seed_elem.disabled = false;
            seed_elem.focus();
        } else {
            seed_elem.disabled = true;
        }
    }

    /* Toggles skip steps option for base diffusion */
    function toggle_base_skip_steps(tab_name) {
        const sample_alg = document.getElementById("sampling-alg-" + tab_name);
        const skip_step_elem = document.getElementById("base-skip-steps-" + tab_name);
        if (sample_alg.value == "ddpm") {
            skip_step_elem.setAttribute("disabled", "disabled");
        } else if (sample_alg.value == "ddim") {
            skip_step_elem.removeAttribute("disabled");
        }
    }

    /* Toggles skip steps option for SuperResolution diffusion */
    function toggle_sr_skip_steps(tab_name) {
        const upsample_elem = document.getElementById("upsample-" + tab_name);
        const skip_step_elem = document.getElementById("sr-skip-steps-" + tab_name);
        if (upsample_elem.checked) {
            skip_step_elem.removeAttribute("disabled");
        } else {
            skip_step_elem.setAttribute("disabled", "disabled");
        }
    }

    function disable_generate_btn() {
        // Disable Generate Button.
        var generate_elem = document.getElementsByClassName("generate-btn");
        for(elem of generate_elem) {
            elem.setAttribute("disabled", "disabled");
            elem.value = "Generating...";
        }
    }

    function enable_generate_btn() {
        // Disable Generate Button.
        var generate_elem = document.getElementsByClassName("generate-btn");
        for(elem of generate_elem) {
            elem.removeAttribute("disabled");
            elem.value = "Generate";
        }
    }

    async function generate_body_pose_image(e) {
        // Gets Canvas Image
        const canvas = document.getElementById("body-pose-canvas-editor");
        let imageBlob = await new Promise(resolve => canvas.toBlob(resolve, "image/png"));

        // Get Seed Value.
        const use_specific_seed_elem = document.getElementById("use-specific-seed-body-pose");
        var seed_value = null;
        if (use_specific_seed_elem.checked) {
            const seed_elem = document.getElementById("seed-val-body-pose");
            seed_value = seed_elem.value;
        }

        // Get Sampling Algorithm.
        const sampling_alg_elem = document.getElementById("sampling-alg-body-pose");
        var sampling_alg_value = sampling_alg_elem.value;

        // Get Steps to skip (Low Resolution).
        const base_skip_steps_elem = document.getElementById("base-skip-steps-body-pose");
        var base_skip_steps_value = base_skip_steps_elem.value;

        // Get Upsample Boolean.
        const upsample_elem = document.getElementById("upsample-body-pose");
        upsample_value = upsample_elem.checked;

        // Get Steps to skip (Super Resolution).
        const sr_skip_steps_elem = document.getElementById("sr-skip-steps-body-pose");
        var sr_skip_steps_value = sr_skip_steps_elem.value;

        let formData = new FormData();
        formData.append("canvas_image", imageBlob, "image.png");
        if (seed_value) {
            formData.append("seed", seed_value);
        }
        formData.append("sample_alg", sampling_alg_value);
        formData.append("base_skip_step", base_skip_steps_value);
        formData.append("upsample", upsample_value);
        formData.append("sr_skip_step", sr_skip_steps_value);
        
        // Disable Generate Button.
        disable_generate_btn();

        const form = e.target;
        try {
            let response = await fetch(
                form.action, {
                    headers: {
                        "contenttype": "multipart/form-data",
                    },
                    method: "POST",
                    body: formData
                }
            );
            let result = await response.json();
            if (result["status"] === 200) {
                image_b64 = result["image"];
                show_generated_image(image_b64, "body-pose");
            } else if (result["status"] !== 200 && "message" in result) {
                alert(result["message"]);
            }
        } catch (error) {
            // TypeError: Failed to fetch
            alert("An error occured generating image, please try again!");
        } finally {
            enable_generate_btn();
        }
    }

    async function generate_my_face_image(e) {
        /* Get Input controls */
        const left_eye_elem = document.getElementById("left-eye-open-face");
        const left_eye_value = left_eye_elem.checked;
        
        const right_eye_elem = document.getElementById("right-eye-open-face");
        const right_eye_value = right_eye_elem.checked;
        
        const mouth_elem = document.getElementById("mouth-slightly-open-face");
        const mouth_value = mouth_elem.checked;
        
        const showing_teeth_elem = document.getElementById("show-teeth-face");
        const showing_teeth_value = showing_teeth_elem.checked;
        
        // Get Seed Value.
        const use_specific_seed_elem = document.getElementById("use-specific-seed-face");
        var seed_value = null;
        if (use_specific_seed_elem.checked) {
            const seed_elem = document.getElementById("seed-val-face");
            seed_value = seed_elem.value;
        }
        /*
        const use_specific_seed_elem = document.getElementById("use-specific-seed-face");
        const seed_elem = document.getElementById("seed-val-face");
        seed_value = seed_elem.value;
        */
        // Get Sampling Algorithm.
        const sampling_alg_elem = document.getElementById("sampling-alg-face");
        const sampling_alg_value = sampling_alg_elem.value;

        // Get Steps to skip (Low Resolution).
        const base_skip_steps_elem = document.getElementById("base-skip-steps-face");
        base_skip_steps_value = base_skip_steps_elem.value;

        // Get Upsample Boolean.
        const upsample_elem = document.getElementById("upsample-face");
        const upsample_value = upsample_elem.checked;

        // Get Steps to skip (Super Resolution).
        const sr_skip_steps_elem = document.getElementById("sr-skip-steps-face");
        var sr_skip_steps_value = sr_skip_steps_elem.value;

        let formData = new FormData();
        formData.append("left_eye", left_eye_value);
        formData.append("right_eye", right_eye_value);
        formData.append("mouth", mouth_value);
        formData.append("showing_teeth", showing_teeth_value);
        if (seed_value) {
            formData.append("seed", seed_value);
        }
        formData.append("sample_alg", sampling_alg_value);
        formData.append("base_skip_step", base_skip_steps_value);
        formData.append("upsample", upsample_value);
        formData.append("sr_skip_step", sr_skip_steps_value);

        disable_generate_btn();
        
        try {
            const form = e.target;
            let response = await fetch(
                form.action, {
                    headers: {
                        "contenttype": "multipart/form-data",
                    },
                    method: "POST",
                    body: formData
                }
            );

            let result = await response.json();
            if (result["status"] === 200) {
                image_b64 = result["image"];
                show_generated_image(image_b64, "face");
            } else if (result["status"] !== 200 && "message" in result) {
                alert(result["message"]);
            }
        }
        catch(err) {
            // TypeError: Failed to fetch
            alert("An error occured generating image, please try again!");
        }
        finally {
            enable_generate_btn();
        }
    }

    async function generate_celeb_face_image(e) {
        /* Get Input controls */
        const bald_elem = document.getElementById("bald-celeb-face");
        const bald_value = bald_elem.checked;

        const black_hair_elem = document.getElementById("black-hair-celeb-face");
        const black_hair_value = black_hair_elem.checked;

        const blond_elem = document.getElementById("blond-hair-celeb-face");
        const blond_value = blond_elem.checked;

        const brown_hair_elem = document.getElementById("brown-hair-celeb-face");
        const brown_hair_value = brown_hair_elem.checked;

        const bushy_eyebrow_elem = document.getElementById("bushy-eyebrow-celeb-face");
        const bushy_eyebrow_value = bushy_eyebrow_elem.checked;

        const eyeglasses_elem = document.getElementById("eyeglasses-celeb-face");
        const eyeglasses_value = eyeglasses_elem.checked;

        const goatee_elem = document.getElementById("goatee-celeb-face");
        const goatee_value = goatee_elem.checked;

        const gray_hair_elem = document.getElementById("gray-hair-celeb-face");
        const gray_hair_value = gray_hair_elem.checked;

        const male_elem = document.getElementById("male-celeb-face");
        const male_value = male_elem.checked;

        const mouth_open_elem = document.getElementById("mouth-open-celeb-face");
        const mouth_open_value = mouth_open_elem.checked;

        const mustache_elem = document.getElementById("mustache-celeb-face");
        const mustache_value = mustache_elem.checked;

        const no_beard_elem = document.getElementById("no-beard-celeb-face");
        const no_beard_value = no_beard_elem.checked;

        const sideburns_elem = document.getElementById("sideburns-celeb-face");
        const sideburns_value = sideburns_elem.checked;

        const smiling_elem = document.getElementById("smiling-celeb-face");
        const smiling_value = smiling_elem.checked;

        const straight_hair_elem = document.getElementById("straight-hair-celeb-face");
        const straight_hair_value = straight_hair_elem.checked;

        const wavy_hair_elem = document.getElementById("wavy-hair-celeb-face");
        const wavy_hair_value = wavy_hair_elem.checked;

        const wearing_earrings_elem = document.getElementById("wearing-earrings-celeb-face");
        const wearing_earrings_value = wearing_earrings_elem.checked;

        const wearing_hat_elem = document.getElementById("wearing-hat-celeb-face");
        const wearing_hat_value = wearing_hat_elem.checked;

        const wearing_lipstick_elem = document.getElementById("wearing-lipstick-celeb-face");
        const wearing_lipstick_value = wearing_lipstick_elem.checked;

        const wearing_necklace_elem = document.getElementById("wearing-necklace-celeb-face");
        const wearing_necklace_value = wearing_necklace_elem.checked;

        const wearing_necktie_elem = document.getElementById("wearing-necktie-celeb-face");
        const wearing_necktie_value = wearing_necktie_elem.checked;

        // Get Seed Value.
        const use_specific_seed_elem = document.getElementById("use-specific-seed-celeb-face");
        var seed_value = null;
        if (use_specific_seed_elem.checked) {
            const seed_elem = document.getElementById("seed-val-celeb-face");
            seed_value = seed_elem.value;
        }

        // Get Sampling Algorithm.
        const sampling_alg_elem = document.getElementById("sampling-alg-celeb-face");
        const sampling_alg_value = sampling_alg_elem.value;

        // Get Steps to skip (Low Resolution).
        const base_skip_steps_elem = document.getElementById("base-skip-steps-celeb-face");
        base_skip_steps_value = base_skip_steps_elem.value;

        let formData = new FormData();
        formData.append("bald", bald_value);
        formData.append("black_hair", black_hair_value);
        formData.append("blond_hair", blond_value);
        formData.append("brown_hair", brown_hair_value);
        formData.append("bushy_eyebrows", bushy_eyebrow_value);
        formData.append("eyeglasses", eyeglasses_value);
        formData.append("goatee", goatee_value);
        formData.append("gray_hair", gray_hair_value);
        formData.append("male", male_value);
        formData.append("mouth_open", mouth_open_value);
        formData.append("mustache", mustache_value);
        formData.append("no_beard", no_beard_value);
        formData.append("sideburns", sideburns_value);
        formData.append("smiling", smiling_value);
        formData.append("straight_hair", straight_hair_value);
        formData.append("wavy_hair", wavy_hair_value);
        formData.append("wearing_earrings", wearing_earrings_value);
        formData.append("smiling", smiling_value);
        formData.append("wearing_hat", wearing_hat_value);
        formData.append("wearing_lipstick", wearing_lipstick_value);
        formData.append("wearing_necklace", wearing_necklace_value);
        formData.append("wearing_necktie", wearing_necktie_value);
        if (seed_value) {
            formData.append("seed", seed_value);
        }
        formData.append("sample_alg", sampling_alg_value);
        formData.append("base_skip_step", base_skip_steps_value);
        
        disable_generate_btn();
        
        try {
            const form = e.target;
            let response = await fetch(
                form.action, {
                    headers: {
                        "contenttype": "multipart/form-data",
                    },
                    method: "POST",
                    body: formData
                }
            );
            let result = await response.json();
            if (result["status"] === 200) {
                image_b64 = result["image"];
                show_generated_image(image_b64, "celeb-face");
            }  else if (result["status"] !== 200 && "message" in result) {
                alert(result["message"]);
            }
        }
        catch(err) {
            // TypeError: Failed to fetch
            alert("An error occured generating image, please try again!");
        }
        finally {
            enable_generate_btn();
        }
    }

    async function generate_anime_portraits_image(e) {
        /* Get Input controls */
        centroids_index = document.querySelector('input[name="portraits-centroid"]:checked').value;

        // Get Seed Value.
        const use_specific_seed_elem = document.getElementById("use-specific-seed-anime-portraits");
        var seed_value = null;
        if (use_specific_seed_elem.checked) {
            const seed_elem = document.getElementById("seed-val-anime-portraits");
            seed_value = seed_elem.value;
        }

        // Get Sampling Algorithm.
        const sampling_alg_elem = document.getElementById("sampling-alg-anime-portraits");
        const sampling_alg_value = sampling_alg_elem.value;

        // Get Steps to skip (Low Resolution).
        const base_skip_steps_elem = document.getElementById("base-skip-steps-anime-portraits");
        var base_skip_steps_value = base_skip_steps_elem.value;

        // Get Upsample Boolean.
        const upsample_elem = document.getElementById("upsample-anime-portraits");
        var upsample_value = upsample_elem.checked;

        // Get Steps to skip (Super Resolution).
        const sr_skip_steps_elem = document.getElementById("sr-skip-steps-anime-portraits");
        var sr_skip_steps_value = sr_skip_steps_elem.value;

        let formData = new FormData();
        formData.append("centroids_index", centroids_index);
        if (seed_value) {
            formData.append("seed", seed_value);
        }
        formData.append("sample_alg", sampling_alg_value);
        formData.append("base_skip_step", base_skip_steps_value);
        formData.append("upsample", upsample_value);
        formData.append("sr_skip_step", sr_skip_steps_value);

        disable_generate_btn();

        try {
            const form = e.target;
            let response = await fetch(
                form.action, {
                    headers: {
                        "contenttype": "multipart/form-data",
                    },
                    method: "POST",
                    body: formData
                }
            );
            let result = await response.json();
            if (result["status"] === 200) {
                image_b64 = result["image"];
                show_generated_image(image_b64, "anime-portraits");
            }  else if (result["status"] !== 200 && "message" in result) {
                alert(result["message"]);
            }
        }
        catch(err) {
            // TypeError: Failed to fetch
            alert("An error occured generating image, please try again!");
        }
        finally {
            enable_generate_btn();
        }
    }

    // Executes when DOM is finally loaded.
    window.addEventListener("DOMContentLoaded", function() {
        // Activates first tab to load it's content onto screen.
        document.getElementById("default-open").click();

        // Creates paint-canvas and adds it to the screen.
        const [canvas, context, background] = create_canvas(
            canvas_id="body-pose-canvas-editor",
            clear_btn_id="body-pose-canvas-reset",
            image_url="{{ url_for('static', filename='media/placeholder/Inital_doodle.jpg') }}",
            stroke_line_width=20,
            stoke_style="black",
            linecap="round",
            linejoin="round");
        
        const body_pose_controls = document.getElementById("body-pose-form");
        body_pose_controls.addEventListener('submit', (e) => {
            // Prevent the default form submit
            e.preventDefault();

            generate_body_pose_image(e);
        });

        const myface_controls = document.getElementById("my-face-form");
        myface_controls.addEventListener('submit', (e) => {
            // Prevent the default form submit
            e.preventDefault();

            generate_my_face_image(e);
        });

        const celebface_controls = document.getElementById("celeb-face-form");
        celebface_controls.addEventListener('submit', (e) => {
            // Prevent the default form submit
            e.preventDefault();

            generate_celeb_face_image(e);
        });

        const animeportraits_controls = document.getElementById("anime-portraits-form");
        animeportraits_controls.addEventListener('submit', (e) => {
            // Prevent the default form submit
            e.preventDefault();

            generate_anime_portraits_image(e);
        });
    });
</script>

{% endblock %}
